* {
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
}

*::selection {
    background-color: #dfd9ff80;
}

:root {
    --el-color-primary: #736bb7;
    --el-color-primary-light-3: #a298da;
    --el-border-color-light: #dedcff;
    --el-box-shadow-light: 0px 0px 12px #5848b51f;
    --el-fill-color-light: #f8f7ff;
}

html,
body {
    margin: 0;
    background-color: #fff;
    touch-action: manipulation;
}

@media screen and (min-width: 650px) {
    #app {
        width: 600px;
        margin: 0 auto;
    }
}
